@import "./bootstrap.css";
@import "../bower_components/jquery-ui/themes/base/jquery-ui.min.css";
body {
  font-family: arial, sans-serif;
  min-width: 750px;
}
.bold {
  font-weight: bold;
}
.popup {
  padding: 10px 20px 30px;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  color: #000;
  font-size: 15px;
  text-align: left;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 3px #555;
  box-shadow: 0 0 10px 3px #555;
}
.popup.login,
.popup.registration,
.popup.call,
.popup.success,
.popup.password-reminder {
  display: none;
}
.popup .invalid-value {
  color: #f00;
}
.popup:after {
  content: '';
  position: absolute;
  top: -9px;
  left: 65px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}
.popup h4 {
  color: #335383;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}
.popup h4 .close {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 10px;
  height: 10px;
  display: block;
  cursor: pointer;
  background: url("../img/icons/close.png");
}
.popup button {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 13px;
}
.popup a {
  color: #3e6193;
  text-decoration: underline;
}
.popup label {
  font-weight: 100;
  text-align: left;
  margin-bottom: 0;
  line-height: 30px;
}
.popup input {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-indent: 10px;
  -webkit-box-shadow: inset 0px 2px 7px #ccc;
  box-shadow: inset 0px 2px 7px #ccc;
}
.popup input[type="text"],
.popup input[type="password"],
.popup input[type="email"] {
  height: 30px;
  line-height: 30px;
  width: 180px;
}
.success.popup {
  position: absolute;
  top: 125px;
  left: calc(50% - 262px);
  width: 525px;
}
.success.popup:after {
  display: none;
}
.success.popup p.message {
  font-weight: bold;
}
.success.popup button {
  display: block;
  margin: 20px auto 0;
  border: 1px solid #f0a834;
  color: #fff;
  background: -webkit-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: -moz-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: -o-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: -ms-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: linear-gradient(0deg, #d97c25, #f0a834 75%);
  padding: 5px 31px;
}
.popup.password-reminder {
  position: absolute;
  width: 330px;
  height: 332px;
  padding: 15px 30px 25px;
  top: 125px;
  left: calc(50% - 165px);
}
.popup.password-reminder:after {
  display: none;
}
.popup.password-reminder p.message {
  font-weight: bold;
  margin-bottom: 25px;
}
.popup.password-reminder .captcha {
  height: 79px;
}
.popup.password-reminder .captcha img {
  width: 180px;
  height: 100%;
  float: right;
}
.popup.password-reminder input {
  width: 180px;
  float: right;
}
.popup.password-reminder input,
.popup.password-reminder label {
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
}
.popup.password-reminder label {
  font-size: 13px;
  color: #727272;
}
.popup.password-reminder button {
  display: block;
  position: relative;
  left: 12px;
  margin: 20px auto 0;
  border: 1px solid #f0a834;
  color: #fff;
  background: -webkit-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: -moz-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: -o-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: -ms-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: linear-gradient(0deg, #d97c25, #f0a834 75%);
  padding: 6px 18px;
}
header .top-line {
  background-color: #d97c25;
  color: #fff;
}
header .top-line ul {
  padding: 0;
}
header .top-line .container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 42px;
  padding: 0;
}
header .top-line .left-side,
header .top-line .right-side {
  display: inline-block;
}
header .top-line .left-side ul li,
header .top-line .right-side ul li {
  float: left;
  margin-left: 15px;
  list-style-type: none;
}
header .top-line .left-side ul li:first-child,
header .top-line .right-side ul li:first-child {
  margin: 0;
}
header .top-line .left-side ul li:first-child img,
header .top-line .right-side ul li:first-child img {
  vertical-align: inherit;
}
header .top-line .left-side ul li a,
header .top-line .right-side ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
header .top-line .right-side .social {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 80px;
}
header .top-line .right-side .social li {
  margin-left: 5px;
  height: 17px;
}
header .top-line .right-side .social li span {
  width: 17px;
  height: 17px;
  display: inline-block;
}
header .top-line .right-side .social li:nth-child(2) span {
  background: url("../img/icons/facebook.png");
}
header .top-line .right-side .social li:nth-child(1) span {
  background: url("../img/icons/vk.png");
}
header .top-line .right-side .autorization {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
}
header .top-line .right-side .autorization li {
  padding: 0 7px;
  margin: 0;
}
header .top-line .right-side .autorization li.login-link:last-child {
  border-left: 1px solid #fff;
}
header .top-line .right-side .autorization li a {
  border-bottom: 1px dashed #fff;
}
header .top-line .right-side .autorization li.login-link .popup.login {
  text-align: center;
  min-width: 297px;
  right: 50px;
  top: 30px;
}
header .top-line .right-side .autorization li.login-link .popup.login .enter-through-socials {
  text-align: left;
}
header .top-line .right-side .autorization li.login-link .popup.login:after {
  left: 70%;
}
header .top-line .right-side .autorization li.login-link .popup.login input[type="text"],
header .top-line .right-side .autorization li.login-link .popup.login input[type="password"] {
  float: right;
}
header .top-line .right-side .autorization li.login-link .popup.login label {
  float: left;
  color: #555;
  font-size: 13px;
}
header .top-line .right-side .autorization li.login-link .popup.login fieldset {
  margin-top: 10px;
}
header .top-line .right-side .autorization li.login-link .popup.login label[for="remeber-me-login"] {
  float: none;
}
header .top-line .right-side .autorization li.login-link .popup.login button {
  position: relative;
  right: 16px;
  margin-top: 15px;
  padding: 2px 15px;
  background: -webkit-linear-gradient(90deg, #f0a834 75%, #d97c25);
  background: -moz-linear-gradient(90deg, #f0a834 75%, #d97c25);
  background: -o-linear-gradient(90deg, #f0a834 75%, #d97c25);
  background: -ms-linear-gradient(90deg, #f0a834 75%, #d97c25);
  background: linear-gradient(0deg, #f0a834 75%, #d97c25);
  border: 1px solid #f0a834;
  color: #fff;
}
header .top-line .right-side .autorization li.login-link .popup.login a {
  color: #3e6193;
  display: block;
  position: relative;
  padding-left: 20px;
  text-decoration: underline;
}
header .top-line .right-side .autorization li.login-link .popup.login a:before {
  content: '';
  position: absolute;
  left: 0px;
  width: 16px;
  height: 16px;
  top: 2px;
}
header .top-line .right-side .autorization li.login-link .popup.login a.vk:before {
  background: url("../img/icons/vk.png");
}
header .top-line .right-side .autorization li.login-link .popup.login a.facebook:before {
  background: url("../img/icons/facebook.png");
}
header .top-line .right-side .autorization li.login-link .popup.login a.google:before {
  background: url("../img/icons/google.png");
}
header .top-line .right-side .autorization li.login-link .popup.registration {
  text-align: center;
  min-width: 378px;
  right: 0px;
  top: 30px;
}
header .top-line .right-side .autorization li.login-link .popup.registration .registration-through-socials {
  text-align: left;
}
header .top-line .right-side .autorization li.login-link .popup.registration .registration-through-socials a {
  margin: 6px 0;
}
header .top-line .right-side .autorization li.login-link .popup.registration .registration-through-socials span.reg-soc {
  display: block;
  margin-bottom: 10px;
}
header .top-line .right-side .autorization li.login-link .popup.registration:after {
  left: 80%;
}
header .top-line .right-side .autorization li.login-link .popup.registration input[type="text"],
header .top-line .right-side .autorization li.login-link .popup.registration input[type="password"] {
  float: right;
}
header .top-line .right-side .autorization li.login-link .popup.registration label {
  float: left;
  color: #555;
  font-size: 13px;
}
header .top-line .right-side .autorization li.login-link .popup.registration fieldset {
  margin-top: 10px;
}
header .top-line .right-side .autorization li.login-link .popup.registration label[for="remeber-me-login"] {
  float: none;
}
header .top-line .right-side .autorization li.login-link .popup.registration .bold {
  display: block;
  text-align: left;
  margin: 10px 0 15px;
}
header .top-line .right-side .autorization li.login-link .popup.registration button {
  position: relative;
  right: 6px;
  margin-top: 15px;
  padding: 2px 15px;
  background: -webkit-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: -moz-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: -o-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: -ms-linear-gradient(90deg, #d97c25, #f0a834 75%);
  background: linear-gradient(0deg, #d97c25, #f0a834 75%);
  border: 1px solid #f0a834;
  color: #fff;
  float: right;
  margin-right: 20px;
}
header .top-line .right-side .autorization li.login-link .popup.registration a {
  color: #3e6193;
  display: block;
  position: relative;
  padding-left: 20px;
  text-decoration: underline;
}
header .top-line .right-side .autorization li.login-link .popup.registration a:before {
  content: '';
  position: absolute;
  left: 0px;
  width: 16px;
  height: 16px;
  top: 2px;
}
header .top-line .right-side .autorization li.login-link .popup.registration a.vk:before {
  background: url("../img/icons/vk.png");
}
header .top-line .right-side .autorization li.login-link .popup.registration a.facebook:before {
  background: url("../img/icons/facebook.png");
}
header .top-line .right-side .autorization li.login-link .popup.registration a.google:before {
  background: url("../img/icons/google.png");
}
header .head {
  background-color: #f0a834;
  min-height: 150px;
}
header .head .container {
  padding: 0;
}
header .head .container .row {
  padding: 0;
  margin: 0;
}
header .head .container .row>div {
  padding: 45px 0 0 0;
}
header .head .container .row .top-search form {
  width: 100%;
  position: relative;
}
header .head .container .row .top-search form input {
  width: 100%;
  border: none;
  outline: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 35px;
  line-height: 35px;
  text-indent: 10px;
  font-size: 14px;
}
header .head .container .row .top-search form button {
  position: absolute;
  right: 7px;
  top: 7px;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
header .head .container .row .top-search form button .seach-icon {
  display: inline-block;
  height: 20px;
  width: 18px;
  background: url("../img/icons/search-icon.png");
}
header .head .container .row .top-search .tel {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
header .head .container .row .top-search .tel .tel-big-red {
  color: #dd1129;
  font-size: 22px;
  font-weight: bold;
}
header .head .container .row .top-search .tel .back-call {
  position: relative;
  display: block;
}
header .head .container .row .top-search .tel .back-call a {
  color: #335383;
  border-bottom: 1px dotted #6e3383;
  text-decoration: none;
}
header .head .container .row .top-search .popup.call {
  text-align: center;
  min-width: 378px;
  right: 15px;
  top: 90px;
  padding-bottom: 60px;
}
header .head .container .row .top-search .popup.call h4 {
  margin-bottom: 20px;
}
header .head .container .row .top-search .popup.call:after {
  left: 50%;
}
header .head .container .row .top-search .popup.call input {
  float: right;
  width: auto;
  line-height: 32px;
  height: 30px;
}
header .head .container .row .top-search .popup.call input[type="number"] {
  width: 40px;
  float: none;
}
header .head .container .row .top-search .popup.call input[type="text"] {
  width: 180px;
}
header .head .container .row .top-search .popup.call input[type="checkbox"] {
  height: auto;
}
header .head .container .row .top-search .popup.call label {
  float: left;
  color: #555;
  font-size: 13px;
  line-height: 34px;
}
header .head .container .row .top-search .popup.call fieldset {
  margin-top: 10px;
}
header .head .container .row .top-search .popup.call fieldset.time {
  text-align: right;
}
header .head .container .row .top-search .popup.call fieldset.time #remember-me-login {
  margin: 11px 0 0 10px;
  position: relative;
  top: 2px;
  float: none;
}
header .head .container .row .top-search .popup.call fieldset.time label {
  float: none;
}
header .head .container .row .top-search .popup.call fieldset.time label:first-child {
  float: left;
  position: relative;
  top: 2px;
}
header .head .container .row .top-search .popup.call label[for="remeber-me-login"] {
  float: none;
}
header .head .container .row .top-search .popup.call button {
  padding: 2px 15px;
  bottom: -50px;
  right: 48px;
  top: auto;
  background: -webkit-linear-gradient(90deg, #f0a834 75%, #d97c25);
  background: -moz-linear-gradient(90deg, #f0a834 75%, #d97c25);
  background: -o-linear-gradient(90deg, #f0a834 75%, #d97c25);
  background: -ms-linear-gradient(90deg, #f0a834 75%, #d97c25);
  background: linear-gradient(0deg, #f0a834 75%, #d97c25);
  border: 1px solid #f0a834;
  color: #fff;
}
header .head .container .basket .basket-wrapper {
  position: relative;
  top: -10px;
  margin-left: 100px;
}
header .head .container .basket .basket-wrapper span.basket-label {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}
header .head .container .basket .basket-wrapper span.order {
  font-size: 15px;
  font-weight: 500;
}
header .head .container .basket .basket-wrapper>a {
  font-size: 12px;
  text-decoration: underline;
  display: block;
  color: #335383;
}
nav.main-nav {
  background: -webkit-linear-gradient(#f3c33b 20%, #d97c25);
  background: -moz-linear-gradient(#f3c33b 20%, #d97c25);
  background: -o-linear-gradient(#f3c33b 20%, #d97c25);
  background: -ms-linear-gradient(#f3c33b 20%, #d97c25);
  background: linear-gradient(#f3c33b 20%, #d97c25);
  min-height: 50px;
  border-bottom: 1px solid #d97c25;
  border-top: 1px solid #d97c25;
}
nav.main-nav .container {
  padding: 0;
  min-height: inherit;
}
nav.main-nav ul.main-menu {
  min-height: inherit;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}
nav.main-nav ul.main-menu.for-mobile {
  display: none;
}
nav.main-nav ul.main-menu.for-mobile li:first-child a {
  position: relative;
}
nav.main-nav ul.main-menu.for-mobile li:first-child a:after {
  content: '';
  position: absolute;
  left: -40px;
  top: -4px;
  width: 38px;
  height: 26px;
  background: url("../img/icons/menu-mobile.png");
}
nav.main-nav ul.main-menu.for-mobile li:last-child a {
  position: relative;
}
nav.main-nav ul.main-menu.for-mobile li:last-child a:after {
  content: '';
  position: absolute;
  left: -30px;
  top: -7px;
  width: 30px;
  height: 32px;
  background: url("../img/icons/mobile-filter.png");
}
nav.main-nav ul.main-menu>li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  text-align: center;
  border-left: 1px solid #d97c25;
  list-style-type: none;
  min-height: inherit;
  line-height: 50px;
  white-space: nowrap;
}
nav.main-nav ul.main-menu>li:hover .drop-down-menu {
  display: table;
}
nav.main-nav ul.main-menu>li:last-child {
  border-right: 1px solid #d97c25;
}
nav.main-nav ul.main-menu>li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
nav.main-nav ul.main-menu>li .drop-down-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  padding: 10px 20px 30px;
  -webkit-box-shadow: 0 0 10px 3px #555;
  box-shadow: 0 0 10px 3px #555;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
nav.main-nav ul.main-menu>li .drop-down-menu:after {
  content: '';
  position: absolute;
  top: -10px;
  left: 65px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}
nav.main-nav ul.main-menu>li .drop-down-menu .left-side {
  padding-right: 25px;
}
nav.main-nav ul.main-menu>li .drop-down-menu .left-side,
nav.main-nav ul.main-menu>li .drop-down-menu .right-side {
  display: table-cell;
}
nav.main-nav ul.main-menu>li .drop-down-menu h4 {
  font-weight: bold;
  font-size: 15px;
  color: #335383;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 0 10px;
  text-align: left;
}
nav.main-nav ul.main-menu>li .drop-down-menu a {
  color: #727272;
  text-decoration: none;
  text-transform: none;
  font-size: 13px;
}
nav.main-nav ul.main-menu>li .drop-down-menu a:hover {
  color: #727272;
}
nav.main-nav ul.main-menu>li .drop-down-menu ul {
  padding: 0;
}
nav.main-nav ul.main-menu>li .drop-down-menu ul li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  text-align: left;
}
.menu-mobile {
  display: none;
  width: 321px;
  background-color: rgba(255,255,255,0.95);
  -webkit-box-shadow: 0 0 10px 3px #555;
  box-shadow: 0 0 10px 3px #555;
}
.menu-mobile h4 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #335383;
  position: relative;
  border-bottom: 1px solid #ccc;
  text-indent: 20px;
  text-align: left;
  line-height: 50px;
}
.menu-mobile h4 .close {
  position: absolute;
  background: url("../img/icons/close-big.png");
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.menu-mobile ul {
  padding: 0;
}
.menu-mobile ul li {
  padding: 25px 20px;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  text-align: left;
  line-height: 100%;
}
.menu-mobile ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 100%;
  white-space: normal;
}
.menu-mobile ul li a:after {
  display: none;
}
.main-slider {
  max-height: 435px;
  background: -webkit-linear-gradient(75deg, #d97c25, #f3c33b 60%);
  background: -moz-linear-gradient(75deg, #d97c25, #f3c33b 60%);
  background: -o-linear-gradient(75deg, #d97c25, #f3c33b 60%);
  background: -ms-linear-gradient(75deg, #d97c25, #f3c33b 60%);
  background: linear-gradient(15deg, #d97c25, #f3c33b 60%);
  overflow: hidden;
  position: relative;
}
.main-slider #bxslider {
  overflow: hidden;
}
.main-slider #bxslider img {
  width: 100%;
}
.main-slider .controls.container {
  position: absolute;
  left: calc(50% - 490px);
  height: 100%;
  top: 0;
}
.main-slider .controls.container .next {
  position: absolute;
  display: block;
  top: calc(50% - 18px);
  right: 0;
}
.main-slider .controls.container .prev {
  position: absolute;
  display: block;
  top: calc(50% - 18px);
  left: 0;
}
.main-slider .bx-pager {
  position: relative;
  top: -20px;
  text-align: center;
  z-index: 1;
  height: 0;
}
.main-slider .bx-pager .bx-pager-item {
  display: inline-block;
}
.main-slider .bx-pager .bx-pager-link {
  color: transparent;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin: 0 3px;
}
.main-slider .bx-pager .bx-pager-link.active {
  background-color: #00f;
}
.content .row {
  overflow: hidden;
}
.content .arrow-down {
  display: block;
  margin: 43px auto 33px;
  height: 22px;
  width: 42px;
  background: url("../img/icons/arrow-down.png");
  cursor: pointer;
}
.content .goods {
  padding: 0;
}
.content .goods h2 {
  font-size: 18px;
  color: #335383;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
  text-indent: 15px;
}
.content .goods h2.popular {
  margin-top: 58px;
}
.content .goods .prev,
.content .goods .next {
  display: block;
  position: absolute;
  width: 12px;
  height: 22px;
  top: calc(50% - 11px);
}
.content .goods .prev {
  left: -15px;
  background: url("../img/icons/second-slider-button-left.png");
}
.content .goods a.bx-next.disabled.disabled .next {
  background: url("../img/icons/second-slider-button-unactive-right.png");
}
.content .goods .next {
  right: -15px;
  background: url("../img/icons/second-slider-button-right.png");
}
.content .goods a.bx-prev.disabled.disabled .prev {
  background: url("../img/icons/second-slider-button-unactive.png");
}
.content .goods .bx-wrapper {
  position: relative;
}
.content .goods .slider-container {
  min-width: 710px;
}
.content .goods .slider-container .item-wrapper {
  width: 225px;
  height: 350px;
  text-align: center;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.content .goods .slider-container .item-wrapper img {
  width: 90%;
  height:auto;
}
.content .goods .slider-container .item-wrapper .name {
  font-size: 15px;
  color: #888;
  font-weight: bold;
  text-align: center;
  max-height: 65px;
  padding: 0 8px;
  overflow: hidden;
  margin-top: 20px;
}
.content .goods .slider-container .item-wrapper .code {
  font-size: 12px;
  color: #ccc;
  text-align: center;
}
.content .goods .slider-container .item-wrapper .price {
  margin-top: 35px;
  margin-bottom: 25px;
}
.content .goods .slider-container .item-wrapper .price .old {
  font-size: 18px;
  color: #6c6c6c;
  text-decoration: line-through;
}
.content .goods .slider-container .item-wrapper .price .new {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.content .goods .slider-container .item-wrapper .button-wrapper {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: inherit;
}
.content .goods .slider-container .item-wrapper .button-wrapper button {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: -webkit-linear-gradient(#f0a834 70%, #d97c25);
  background: -moz-linear-gradient(#f0a834 70%, #d97c25);
  background: -o-linear-gradient(#f0a834 70%, #d97c25);
  background: -ms-linear-gradient(#f0a834 70%, #d97c25);
  background: linear-gradient(#f0a834 70%, #d97c25);
  padding: 5px 15px 5px 35px;
  border: none;
  outline: none;
}
.content .goods .slider-container .item-wrapper .button-wrapper button a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}
.content .goods .slider-container .item-wrapper .button-wrapper button a:before {
  content: '';
  background: url("../img/icons/basket.png");
  width: 18px;
  height: 17px;
  position: absolute;
  left: -22px;
  top: 0;
}
.content .news h2.news-header {
  font-size: 18px;
  color: #335383;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}
.content .news .single-news {
  margin-bottom: 20px;
}
.content .news .single-news img {
  width: 100%;
}
.content .news .single-news h3 {
  color: #335383;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 5px;
}
.content .news .single-news .date {
  color: #ccc;
  font-size: 13px;
}
.content .news .single-news .text {
  font-size: 13px;
  color: #525252;
  margin: 5px 0;
}
.content .news .single-news .read-more {
  font-size: 12px;
  color: #335383;
  text-decoration: underline;
}
.pagination {
  margin: 35px auto 48px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pagination a {
  color: #fff;
  text-decoration: none;
  height: inherit;
  display: inline-block;
  margin: 10px 0;
}
.pagination a.start,
.pagination a.end {
  width: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-color: #f0a834;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 8px;
}
.pagination a.start {
  background-image: url("../img/icons/double-arrow-left.png");
}
.pagination a.end {
  background-image: url("../img/icons/double-arrow-right.png");
}
.pagination a.prev,
.pagination a.next {
  padding: 0 8px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #aaa;
  background-color: #f0a834;
}
.pagination a.next {
  margin-left: 10px;
}
.pagination a.prev {
  margin-right: 10px;
}
.pagination a.page {
  width: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
.pagination a.page.active {
  background-color: #ccc;
}
.pagination a.disabled {
  background-color: #ccc;
}
footer {
  border-top: 2px solid #d97c25;
  color: #fff;
  background-color: #335383;
}
footer .row {
  overflow: hidden;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
footer a:hover {
  color: #fff;
  text-decoration: underline;
}
footer h4 {
  text-transform: uppercase;
  margin: 30px 0 5px;
  font-size: 15px;
  font-weight: bold;
}
footer ul {
  padding: 0;
  margin-bottom: 22px;
}
footer ul.soc {
  padding-left: 20px;
}
footer ul.soc a {
  position: relative;
}
footer ul.soc a:before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  left: -20px;
}
footer ul.soc a.vk:before {
  background: url("../img/icons/vk.png");
}
footer ul.soc a.od:before {
  background: url("../img/icons/od.png");
}
footer ul.soc a.facebook:before {
  background: url("../img/icons/facebook.png");
}
footer ul.soc a.instagram:before {
  background: url("../img/icons/insagram.png");
}
footer ul li {
  list-style-type: none;
}
footer .footer-bottom-line {
  background-color: #3e6193;
  overflow: hidden;
}
footer .footer-bottom-line p {
  line-height: 55px;
  margin: 0;
  font-size: 12px;
}
.filter {
  position: absolute;
  right: 0;
  display: none;
  width: 320px;
  background-color: #fff;
  padding: 0 20px;
  -webkit-box-shadow: 0 0 10px 3px #555;
  box-shadow: 0 0 10px 3px #555;
}
.filter h6 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 40px;
}
.filter h4 {
  color: #335383;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 15px 10px;
  position: relative;
}
.filter h4 .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url("../img/icons/close-big.png");
  cursor: pointer;
}
.filter a {
  text-decoration: none;
  color: #000;
}
.filter .current-filtered-price {
  font-weight: bold;
  font-size: 15px;
  text-indent: 20px;
}
.filter .slider-range {
  width: 242px;
  height: 30px;
  margin: 0 auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 1px 1px 5px 1px #ccc;
  box-shadow: inset 1px 1px 5px 1px #ccc;
}
.filter .slider-range .ui-slider-handle {
  height: 100%;
  top: 0;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.filter .slider-range .ui-widget-header {
  background: #f0a834;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.filter .face-shape {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.filter .face-shape .select-item {
  padding-top: 50px;
  position: relative;
}
.filter .face-shape .select-item:after {
  content: '';
  position: absolute;
  height: 47px;
  width: 40px;
  top: 0;
  left: calc(50% - 20px);
  background-repeat: no-repeat;
}
.filter .face-shape .select-item:nth-child(1):after {
  background-image: url("../img/icons/filter/sharp-face.png");
}
.filter .face-shape .select-item:nth-child(2):after {
  background-image: url("../img/icons/filter/oval-face.png");
}
.filter .face-shape .select-item:nth-child(3):after {
  background-image: url("../img/icons/filter/round-face.png");
}
.filter .face-shape .select-item:nth-child(4):after {
  background-image: url("../img/icons/filter/square-face.png");
}
.filter .frame-shape {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
.filter .frame-shape .select-item,
.filter .frame-shape .empty {
  padding-top: 50px;
  position: relative;
  width: 93px;
  margin-bottom: 20px;
}
.filter .frame-shape .select-item input,
.filter .frame-shape .empty input {
  display: block;
  margin: 5px auto 0;
}
.filter .frame-shape .select-item:after,
.filter .frame-shape .empty:after {
  content: '';
  position: absolute;
  height: 40px;
  width: 73px;
  top: 10px;
  left: calc(50% - 36px);
  background-repeat: no-repeat;
  background-position: center;
}
.filter .frame-shape .select-item:nth-child(1):after,
.filter .frame-shape .empty:nth-child(1):after {
  background-image: url("../img/icons/filter/aviatior.png");
}
.filter .frame-shape .select-item:nth-child(2):after,
.filter .frame-shape .empty:nth-child(2):after {
  background-image: url("../img/icons/filter/square-glasses.png");
}
.filter .frame-shape .select-item:nth-child(3):after,
.filter .frame-shape .empty:nth-child(3):after {
  background-image: url("../img/icons/filter/thing-glasses.png");
}
.filter .frame-shape .select-item:nth-child(4):after,
.filter .frame-shape .empty:nth-child(4):after {
  background-image: url("../img/icons/filter/round-glasses.png");
}
.filter .frame-shape .select-item:nth-child(5):after,
.filter .frame-shape .empty:nth-child(5):after {
  background-image: url("../img/icons/filter/vayfarer-glasses.png");
}
.filter .frame-shape .select-item:nth-child(6):after,
.filter .frame-shape .empty:nth-child(6):after {
  background-image: url("../img/icons/filter/master-club-glasses.png");
}
.filter .frame-shape .select-item:nth-child(7):after,
.filter .frame-shape .empty:nth-child(7):after {
  background-image: url("../img/icons/filter/cat's-eye-glasses.png");
}
.filter .frame-shape .select-item:nth-child(8):after,
.filter .frame-shape .empty:nth-child(8):after {
  background-image: url("../img/icons/filter/oval-glases.png");
}
.filter .frame-shape .select-item:nth-child(9):after,
.filter .frame-shape .empty:nth-child(9):after {
  background-image: url("../img/icons/filter/butterfly-glasses.png");
}
.filter .frame-shape .select-item:nth-child(10):after,
.filter .frame-shape .empty:nth-child(10):after {
  background-image: url("../img/icons/filter/rims-glasses.png");
}
.filter .frame-shape .select-item:nth-child(11):after,
.filter .frame-shape .empty:nth-child(11):after {
  background-image: url("../img/icons/filter/half-rims-glasses.png");
}
.filter .frame-shape .select-item:nth-child(12):after,
.filter .frame-shape .empty:nth-child(12):after {
  background-image: url("../img/icons/filter/solid-glasses.png");
}
.filter .frame-shape .select-item:nth-child(13):after,
.filter .frame-shape .empty:nth-child(13):after {
  background-image: url("../img/icons/filter/shield-glasses.png");
}
.filter .frame-shape .select-item:nth-child(14):after,
.filter .frame-shape .empty:nth-child(14):after {
  background-image: url("../img/icons/filter/google-glasses.png");
}
.filter .shape-color,
.filter .glass-color {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  width: 245px;
  height: 180px;
}
.filter .shape-color .select-item,
.filter .glass-color .select-item {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}
.filter .shape-color .select-item.ui-selected:after,
.filter .glass-color .select-item.ui-selected:after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: url("../img/icons/close-big.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.filter .shape-color .select-item:nth-child(1),
.filter .glass-color .select-item:nth-child(1) {
  background-color: #000;
}
.filter .shape-color .select-item:nth-child(2),
.filter .glass-color .select-item:nth-child(2) {
  background-color: #00f;
}
.filter .shape-color .select-item:nth-child(3),
.filter .glass-color .select-item:nth-child(3) {
  background-color: #c02525;
}
.filter .shape-color .select-item:nth-child(4),
.filter .glass-color .select-item:nth-child(4) {
  background-color: #818181;
}
.filter .shape-color .select-item:nth-child(5),
.filter .glass-color .select-item:nth-child(5) {
  background-color: #008100;
}
.filter .shape-color .select-item:nth-child(6),
.filter .glass-color .select-item:nth-child(6) {
  background-color: #ffa600;
}
.filter .shape-color .select-item:nth-child(7),
.filter .glass-color .select-item:nth-child(7) {
  background-color: #ffc1cd;
}
.filter .shape-color .select-item:nth-child(8),
.filter .glass-color .select-item:nth-child(8) {
  background-color: #960083;
}
.filter .shape-color .select-item:nth-child(9),
.filter .glass-color .select-item:nth-child(9) {
  background-color: #f00;
}
.filter .shape-color .select-item:nth-child(10),
.filter .glass-color .select-item:nth-child(10) {
  background-color: #c2c2c2;
}
.filter .shape-color .select-item:nth-child(11),
.filter .glass-color .select-item:nth-child(11) {
  background-color: #fff;
}
.filter .shape-color .select-item:nth-child(12),
.filter .glass-color .select-item:nth-child(12) {
  background-color: #ff0;
}
.filter .frame-material label {
  font-weight: 100;
  margin-left: 5px;
  position: relative;
  top: -2px;
}
.filter .filter-control {
  padding: 40px 0 10px;
  border-top: 1px solid #ccc;
  text-align: center;
}
.filter .filter-control .filter-apply {
  padding: 10px 40px;
  border: 1px solid #d97c25;
  color: #fff;
  background: -webkit-linear-gradient(#f3c53b, #d97c25);
  background: -moz-linear-gradient(#f3c53b, #d97c25);
  background: -o-linear-gradient(#f3c53b, #d97c25);
  background: -ms-linear-gradient(#f3c53b, #d97c25);
  background: linear-gradient(#f3c53b, #d97c25);
  margin-bottom: 15px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  outline: none;
}
.filter .filter-control .filter-reject {
  padding: 3px 51px;
  color: #fff;
  border: 1px solid #b5b4b4;
  background: -webkit-linear-gradient(#eee, #b5b4b4);
  background: -moz-linear-gradient(#eee, #b5b4b4);
  background: -o-linear-gradient(#eee, #b5b4b4);
  background: -ms-linear-gradient(#eee, #b5b4b4);
  background: linear-gradient(#eee, #b5b4b4);
  -webkit-border-radius: 50px;
  border-radius: 50px;
  outline: none;
}
@media (max-width: 992px) {
  header .head .container .row .top-search .tel {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  header .head .container .row .top-search .tel .tel-big-red {
    color: #fff;
  }
  header .head .container .row>div {
    padding: 45px 10px 0 0;
  }
  header .head .container .basket .basket-wrapper {
    margin-left: 50px;
  }
  .main-slider .controls.container {
    left: calc(50% - 375px);
  }
  .content .news {
    display: none;
  }
}
@media (max-width: 850px) {
  nav.main-nav ul.main-menu.for-desktop {
    display: none;
  }
  nav.main-nav ul.main-menu.for-mobile {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
  .main-slider .controls.container {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 750px) {
  @viewport {
    width: 750px;
  }
  @-ms-viewport {
    width: 750px;
  }
  @-ms-viewport {
    width: 750px;
  }
}
fieldset.chekbox {
  padding-left: 79px;
}
.help-block {
  margin-bottom: -5px;
  float: right;
  font-size: 12px;
  color: red !important;
  clear: both;
}
