html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}
.modalConfirmDelete{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0, .2);
}
.modalCont{
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    position:relative;
    top: 200px;
    margin: 0 auto;
    width: 500px;
    text-align: center;

}
.modalCont button{
    margin-right: 15px;
}
#confirm{
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
}

.file-upload {
    position: relative;
    overflow: hidden;

    height: 34px;
    margin-top: 20px;
}
.file-upload input[type="file"]{
    display: none;
}
.file-upload label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload span {
    line-height: 24px;
    font-weight: normal;
}
.ip{
    width: 200px;
    float: left;
    margin-right:10px;
}
.chekip{
    width: 140px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    float: left;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin-right: 15px;
}
#region{
    float: left;
    width: 400px;
    font-size:16px;
    border: 1px solid #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    height: 34px;
    margin-left: 10px;
    vertical-align: middle;
    padding: 5px;

}
#check_ip{
    float: left;
}